@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro|Indie+Flower|Modak|Nova+Square|Righteous|Kumar+One+Outline&display=swap');

#title_screen {
  font-family: 'Kumar One Outline', cursive;
  color: aquamarine;
  margin-bottom: -25px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 70px;
  font-weight: 500;
  -webkit-animation: glow 0.8s ease-in-out infinite alternate;
  -moz-animation: glow 0.8s ease-in-out infinite alternate;
  animation: glow 0.8s ease-in-out infinite alternate;
}
#discordBox{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 7%;
  height: 7%;
}
#discordLink img{
  width: 100%;
  height: 100%;
  margin: 0px;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px aquamarine, 0 0 40px aquamarine, 0 0 50px aquamarine, 0 0 60px aquamarine, 0 0 70px aquamarine;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px lemonchiffon, 0 0 50px lemonchiffon, 0 0 60px lemonchiffon, 0 0 70px lemonchiffon, 0 0 80px lemonchiffon;
  }
}
#secondaryTitleScreen{
  font-family: 'Fredoka One', cursive;
  color: aquamarine;
  margin-bottom: 10px;
  text-align: center;
  font-size: 35px;
}

#everything {
  border: 5px double aqua;
  display: none;
  flex-direction: column;
  width: 99.8%;
  height: 99.8%;
  margin: auto;
}

#output_holder {
  font-family: 'Righteous', cursive;
  padding: 10px;
  border-radius: 25px;
  margin: auto;
  display: block;
  background-image: linear-gradient((gold, darkgoldenrod));
}
#info{
  display: none;
  font-family: "Source Sans Pro", sans-serif;
  color: aqua;
  font-size: 16px;
}
body {
  background-color: rgb(19, 57, 100);
  background-size: 100% 100%;
  background-position: center;
}

#score {
  color: aquamarine;
  display: block;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  margin: auto;
}

#hiScore{
  color: aquamarine;
  display: block;
  text-align: left;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  margin: auto;
  margin-top: 25px;
}

#topScores{
  display: none;
  color: aquamarine;
  text-align: left;
  font-family: 'Nova Square', cursive;
  font-size: 25px;
  margin: 15px;
  background: linear-gradient(gold, darkgoldenrod);
  border-radius: 20px;
  padding: 3px;
}
#earlierPatchNoteButton{
  display: none;
}

#scoreDiffText{
  font-size: 30px;
  text-align: center;
  font-family: 'Nova Square', cursive;
  color: yellow;
  display: none;
}

#flexButtons{
  display: flex;
  justify-content: center;
}

#backToMenu{
  display: none;
}

#userContainer{
  display: none;
  color: aquamarine;
  text-align: left;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  margin: auto;
}
#userContainer input{
  margin-bottom: 15px;
}
#userContainer button{
  margin-bottom: 15px;
}

#submitted{
  display: none;
  color: aquamarine;
  text-align: left;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  margin: auto;
}

#lives {
  color: aqua;
  display: block;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  margin: auto;
}

#wasdToggle {
  color: aquamarine;
  font-family: "Righteous", cursive;
  font-size: 20px;
}

#game_over {
  font-family: 'Nova Square', cursive;
  text-align: center;
  font-size: 50px;
  color: yellow;
  display: none;
}
#ur_dead {
  font-family: 'Nova Square', cursive;
  text-align: center;
  font-size: 16px;
  color: yellow;
  display: none;
}
#buttonDiv{
  display: flex;
  justify-content: space-evenly;
}

#difficultyMessage{
  color: aquamarine;
  text-align: left;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  margin: auto;
}

#easy{
  color: springgreen;
  text-align: left;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  margin: auto;
}
 #normal{
  color: yellow;
  text-align: left;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  margin: auto;
 }

 #hard{
  color: red;
  text-align: left;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  margin: auto;
 }

 .easy{
  display: none;
  color: springgreen;
 }
 .normal{
  display: block;
  color: lemonchiffon;
 }
 .hard{
  display: none;
  color: rgb(248, 164, 155);
 }
 #easyScores{
  display: none;
 }
 #normalScores{
  display: none;
  margin-left: 25px;
  margin-right: 25px;
 }
 #hardScores{
  display: none;
 }
button {
  border-radius: 20px;
  border: 3px solid aqua;
  background-color: navy;
  cursor: pointer;
  font-family: "Righteous", cursive;
  color: aquamarine;
  font-size: 25px;
  transition: 200ms;
}
button:hover{
  border: 3px solid navy;
  background-color: aquamarine;
  color: navy;
}
button:focus{
  border: 3px solid navy;
  background-color: aquamarine;
  color: navy;
}
button:active{
  border: 3px solid rgb(0,0, 60);
  background-color: rgb(98, 190, 160);
  color: rgb(0, 0, 60);
  transition: 0ms;
}

